cache.properties
.idea/
*.log
*target/
*/out/
*WEB-INF/tld/
*.iml
*.orig
*atlassian-ide-plugin.xml
*.pyc
*htmlcov/
*pyenv/
*doc/_build/
*doc/html/
*.egg-info/
*.db
*project\boot\
*project\plugins\project
*lib_managed/
*src_managed/
*test-output/
*plugins/
*dependency-reduced-pom.xml
/.project
/.buildpath
/.settings/
/nbproject/
/build/logs/
/build/pdepend/
/build/api/
/build/coverage/
vendor/
composer.lock
