language: php

dist: trusty

php:
  - 7.0
  - 5.6
  - 5.5
  - 5.4

install:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source
  - travis_retry composer require satooshi/php-coveralls --dev

before_script:
  - mkdir -p build/logs
  - composer install

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_success:
  - sh -c 'if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then php vendor/bin/coveralls -v; fi;'